<!-- Validation failure messages -->
<% if @bookmarked_deputy.errors.any? %>
  <% @bookmarked_deputy.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Bookmarked Deputy</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_bookmarked_deputy" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @bookmarked_deputy.user_id %>">
      </div>

      <!-- Label and input for deputy_id -->
      <div class="form-group">
        <label for="deputy_id" class="control-label">
          Deputy
        </label>

        <input type="text" id="deputy_id" name="deputy_id" placeholder="Deputy" class="form-control" value="<%= @bookmarked_deputy.deputy_id %>">
      </div>

      <button class="btn btn-success">
        Create Bookmarked Deputy
      </button>
      or
      <a href="/bookmarked_deputies">Cancel</a>
    </form>
  </div>
</div>
